@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #dee3ea;
  @apply bg-background;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}